  <%- include("./kao"); -%>
    <h2><%- sw %>の検索結果</h2>
    <div id="rank_wrap">
      <%- result %>
    </div>
  </div>
  <script>
    window.addEventListener("DOMContentLoaded",function(){
      document.getElementById("stxt").value="<%- sw %>";
    },false);
  </script>
  <%- include("./ashi"); -%>
